<div class="algo-card d-flex flex-column">
  <div class="d-flex flex-row">
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex flex-row align-items-center">
        <div class="d-flex text-color-white">
          <span class="algorithm-name" (click)="graphService.openAlgorithmExplanationModal(ALGORITHM_NAMES.BFS)">
            Breadth First Search
          </span>
        </div>
      </div>
    </div>

    <button
      [disabled]="graphService.nodes.length < 2 || breadthFirstSearchService.isPlaying"
      class="mat-ripple mat-warn ml-10" matTooltip="Initiate BFS Recursion Based" mat-raised-button mat-button
      (click)="breadthFirstSearchService.BFSv2()">
        <span class="material-icons">
          play_arrow
        </span>
    </button>

    <button
      [disabled]="graphService.nodes.length < 2 || breadthFirstSearchService.isPlaying"
      class="mat-ripple mat-warn ml-10" matTooltip="Initiate BFS Queue Based" mat-raised-button mat-button
      (click)="breadthFirstSearchService.BFSv3()">
        <span class="material-icons">
          play_arrow
        </span>
    </button>

    @if(breadthFirstSearchService.pathDetails){
      <button
        [disabled]="breadthFirstSearchService.isPlaying"
        (click)="breadthFirstSearchService.dumpGlobals()"
        class="mat-ripple mat-warn ml-5" matTooltip="Reset" mat-raised-button mat-button>
        <span class="material-icons">
          restart_alt
        </span>
      </button>
    }

    <button
      class="mat-ripple mat-warn ml-10" mat-raised-button mat-button
      (click)="breadthFirstSearchService.toggleInputs()">
      Inptus
      <span class="material-icons mr-5">
        @if(!breadthFirstSearchService.showInputs){visibility}
        @if(breadthFirstSearchService.showInputs){visibility_off}
      </span>
    </button>
  </div>

  @if(breadthFirstSearchService.showInputs){
    <div class="d-flex flex-row align-items-center mt-20">
      <mat-form-field class="example-form-field">
        <mat-label>Start Point</mat-label>
        <input matInput type="text" [formControl]="breadthFirstSearchService.startPointControl">
      </mat-form-field>
    </div>
  }

  @if(breadthFirstSearchService.pathDetails){
    <div class="d-flex flex-column mt-10 p-5" style="max-height: 75px; overflow-y: auto">
      <div class="">Graph exploration map</div>
      <div class="mt-5" [innerHTML]="breadthFirstSearchService.pathDetails"></div>
    </div>
  }


</div>

