<div class="algo-card d-flex flex-column mt-10">
  <div class="d-flex flex-row">
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex flex-row align-items-center">
        <div class="d-flex text-color-white">All Available Paths (BFS Based)</div>
      </div>
    </div>

    <button
      [disabled]="graphService.nodes.length < 2 || findAllAvailablePathsService.isPlaying"
      class="mat-ripple mat-warn ml-10" matTooltip="Initiate BFS" mat-raised-button mat-button
      (click)="findAllAvailablePathsService.findAllAvailablePaths()">
        <span class="material-icons">
          play_arrow
        </span>
    </button>

    @if(findAllAvailablePathsService.isPlaying){
      <button
        (click)="findAllAvailablePathsService.pauseAnimation()"
        class="mat-ripple mat-warn ml-5" matTooltip="Reset" mat-raised-button mat-button>
        <span class="material-icons">
          pause
        </span>
      </button>
    }

    @if(findAllAvailablePathsService.pathDetailsList.length && !findAllAvailablePathsService.isPlaying){
      <button
        [disabled]="findAllAvailablePathsService.isPlaying"
        (click)="findAllAvailablePathsService.dumpGlobals()"
        class="mat-ripple mat-warn ml-5" matTooltip="Reset" mat-raised-button mat-button>
        <span class="material-icons">
          restart_alt
        </span>
      </button>
    }

    <button
      class="mat-ripple mat-warn ml-10" mat-raised-button mat-button
      (click)="findAllAvailablePathsService.toggleInputs()">
      Inptus
      <span class="material-icons mr-5">
        @if(!findAllAvailablePathsService.showInputs){visibility}
        @if(findAllAvailablePathsService.showInputs){visibility_off}
      </span>
    </button>

    @if(findAllAvailablePathsService.pathDetailsList.length){
<!--      @if(!findAllAvailablePathsService.showResults){Show}-->
<!--      @if(findAllAvailablePathsService.showResults){Hide}-->
      <button
        class="mat-ripple mat-warn ml-10" mat-raised-button mat-button
        (click)="findAllAvailablePathsService.toggleResults()">
        Results
        <span class="material-icons mr-5">
        @if(!findAllAvailablePathsService.showResults){visibility}
          @if(findAllAvailablePathsService.showResults){visibility_off}
      </span>
      </button>
    }
  </div>


  @if(findAllAvailablePathsService.showInputs){
    <div class="d-flex flex-row">
      <div class="d-flex flex-row align-items-center mt-20">
        <mat-form-field class="example-form-field">
          <mat-label>Start Point</mat-label>
          <input matInput type="text" [formControl]="findAllAvailablePathsService.startPointControl">
        </mat-form-field>
      </div>

      <div class="d-flex flex-row align-items-center mt-20 ml-20">
        <mat-form-field class="example-form-field">
          <mat-label>End Point</mat-label>
          <input matInput type="text" [formControl]="findAllAvailablePathsService.endPointControl">
        </mat-form-field>
      </div>

      <div class="d-flex flex-row align-items-center mt-20 ml-20">
        <mat-form-field class="example-form-field">
          <mat-label>Maximum Paths Count(1~100)</mat-label>
          <input matInput type="text" [formControl]="findAllAvailablePathsService.maximumPathsAvailableControl">
        </mat-form-field>
      </div>
    </div>
  }

  @if(findAllAvailablePathsService.pathDetailsList.length
    && findAllAvailablePathsService.showResults
    ){
    <div class="d-flex flex-column mt-10 p-5">
      <p> <span class="note-label text-color-warning">NOTE! </span>Application can give only 100 available paths !</p>
      <p class="mb-5">
        Click on path to highlight on graph
      </p>
      @for (pathDetail of findAllAvailablePathsService.pathDetailsList; track pathDetail; let idx = $index) {
        <div class="d-flex flex-row path-container">
          <div class="path-label">{{pathDetail.label}}</div>
          <div class="d-flex flex-row ml-5 text-color-warning all-path-algorithm-single-path"
               [ngClass]="{'all-path-algorithm-single-path-active': findAllAvailablePathsService.highLightCurrentPath === idx}"
            (click)="findAllAvailablePathsService.highlightPath(idx)"
          >
            <span class="mr-5">[</span>
              @for(node of pathDetail.path; track node; let subIdx = $index){
                <span>{{node.number}}@if(subIdx !== pathDetail.path.length - 1){<span class="ml-5 mr-5">,</span>}</span>
              }
            <span class="ml-5">] <span class="text-color-white">[{{pathDetail.path.length}}]</span></span>
          </div>
        </div>
      }
    </div>
  }
</div>

