<div class="graph-settings-container mt-15 p-15">
  <span class="mb-5 d-block text-color-white justify-content-center">
    RGG Section <span class="text-color-warning">(Only unweighted type supported)</span>
  </span>
  <p>
    <button class="mat-ripple mat-warn" mat-raised-button mat-button
            (click)="generateGraph()">
      <span>Generate Random Graph</span>
      <span [@diceShake]="diceState" class="material-icons mr-5">
        casino
      </span>
    </button>

    <button
      [matTooltip]="'Toggle Random Graph Generator Settings Section'"
      class="mat-ripple mat-warn" mat-raised-button mat-button
      (click)="toggleShowRandomGraphGeneratorSettings()">
      <span
        class="material-icons"
        [class.spin-animation]="isSpinningSettings"
        (animationend)="isSpinningSettings = false"
      >
        settings
      </span>
    </button>
  </p>

  @if(showRandomGraphGeneratorSettings){
    <p class="mb-0">
      <span class="text-color-white density-level mr-10">Density level <= {{canvasService.randomGraphNodeDenseControl.value}}%</span>
      <mat-slider color="warn">
        <input matSliderThumb [formControl]="canvasService.randomGraphNodeDenseControl">
      </mat-slider>
    </p>

    <p>
      <span class="text-color-white range-level mr-10">
        Weight range {{canvasService.randomGraphWeightStartControl.value}} ~ {{canvasService.randomGraphWeightEndControl.value}}
      </span>
      <mat-slider color="warn" min="1" max="100">
        <input matSliderStartThumb  [formControl]="canvasService.randomGraphWeightStartControl">
        <input matSliderEndThumb  [formControl]="canvasService.randomGraphWeightEndControl">
      </mat-slider>
    </p>

    <p>
      <span class="text-color-white range-level mr-10">
        Random Direction {{canvasService.randomGraphMinDirectionControl.value}} ~ {{canvasService.randomGraphMaxDirectionControl.value}}
      </span>
      <mat-slider color="warn" min="1" max="8">
        <input matSliderStartThumb  [formControl]="canvasService.randomGraphMinDirectionControl">
        <input matSliderEndThumb  [formControl]="canvasService.randomGraphMaxDirectionControl">
      </mat-slider>
    </p>
  }

  <span class="mb-5 d-block text-color-white">Graph Settings</span>
  <p class="d-flex flex-row">
    <mat-button-toggle-group
      class="mb-10"
      [disabled]="graphService.edges.length > 0"
      [formControl]="canvasService.directionTypeControl" aria-label="Font Style">
      <mat-button-toggle [value]="DirectionTypes.UNDIRECTED_GRAPH">Undirected Graph</mat-button-toggle>
      <mat-button-toggle [value]="DirectionTypes.DIRECTED_GRAPH">Directed Graph</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group
      class="mb-10 ml-20"
      [disabled]="graphService.edges.length > 0"
      [formControl]="canvasService.weightTypeControl" aria-label="Font Style">
      <mat-button-toggle [value]="WeightTypes.UNWEIGHTED_GRAPH">Unweighted Graph</mat-button-toggle>
      <mat-button-toggle [value]="WeightTypes.WEIGHTED_GRAPH">Weighted Graph</mat-button-toggle>
    </mat-button-toggle-group>
  </p>

  <span class="mb-5 d-block text-color-white">
    Graph Creating Mode

    @if(canvasService.modeControl.value === GraphCreateMode.ADD_NODE){
     <span class="text-color-warning">(<span class="shift-key-hint" [ngClass]="{'highlight': isShiftPressed}">Shift</span> + Click On Node will delete it)</span>
    }

    @if(canvasService.modeControl.value === GraphCreateMode.ADD_EDGE){
      <span class="text-color-warning">(<span class="shift-key-hint" [ngClass]="{'highlight': isShiftPressed}">Shift</span> + Click On Edge will delete it)</span>
    }
  </span>

  <p>
    <mat-button-toggle-group class="mb-10" [formControl]="canvasService.modeControl" aria-label="Font Style">
      <mat-button-toggle value="addNode">Add Node</mat-button-toggle>
      <mat-button-toggle [disabled]="graphService.nodes.length < 2" value="addEdge">Add Edge</mat-button-toggle>
    </mat-button-toggle-group>

    @if(canvasService.modeControl.value === GraphCreateMode.ADD_EDGE){
      <button
        [matTooltip]="'Regular Edge Color'"
        class="ml-20 mat-ripple mat-warn" mat-raised-button mat-button>
        <ngx-colors ngx-colors-trigger [formControl]="canvasService.regularEdgeColorControl"></ngx-colors>
      </button>
      <button
        [matTooltip]="'Highlighted Edge Color'"
        class="ml-20 mat-ripple mat-warn" mat-raised-button mat-button>
        <ngx-colors ngx-colors-trigger [formControl]="canvasService.highlightedEdgeColorControl"></ngx-colors>
      </button>
    }

    @if(graphService.nodes.length > 1){
      <button
        [matTooltip]="'Clear Board'"
        class="ml-20 mat-ripple mat-warn" mat-raised-button mat-button (click)="canvasService.clearBoard()">
        <span class="material-icons">
        clear
        </span>
      </button>

        <button
          class="ml-20 mat-ripple mat-warn" mat-raised-button mat-button (click)="addToLocalExamples()"
          matTooltip="Copy graph into the localstorage. {{graphsArray && graphsArray.length? 'Added ' + graphsArray.length + ' of ' + MAXIMUM_ALLOWED_LOCAL_EXAMPLES_COUNT: ''}}"
        >
          <span class="material-icons">
          save
        </span>
        </button>
      }

  </p>

  @if (canvasService.weightTypeControl.value === WeightTypes.WEIGHTED_GRAPH) {
    <p class="mt-20">
      <mat-form-field class="example-form-field">
        <mat-label>Weight For Future Edges</mat-label>
        <input matInput type="text" [formControl]="canvasService.weightControl">
      </mat-form-field>
    </p>
  }

  <span class="mb-5 d-block text-color-white">Import Quick Examples</span>
  <p>
    <button class="mat-ripple mat-warn" mat-raised-button mat-button
            (click)="canvasService.importGraph(GRAPH_EXAMPLE_1)">
      <span>EXAMPLE_1</span>
      <span class="material-icons mr-5">
        data_array
      </span>
      <!--   What Gemini Thinks the algorithm has produced a very good result on this graph.-->
    </button>

    <button class="mat-ripple mat-warn ml-20" mat-raised-button mat-button
            (click)="canvasService.importGraph(GRAPH_EXAMPLE_2)">
      <span>EXAMPLE_2</span>
      <span class="material-icons mr-5">
        data_array
      </span>
      <!--      the algorithm has produced a very good result on this graph -->
    </button>
    <button class="mat-ripple mat-warn ml-20" mat-raised-button mat-button
            (click)="canvasService.importGraph(GRAPH_EXAMPLE_3)">
      <span>EXAMPLE_3</span>
      <span class="material-icons mr-5">
        data_array
      </span>
    </button>
    <button class="mat-ripple mat-warn ml-20" mat-raised-button mat-button
            (click)="canvasService.importGraph(GRAPH_EXAMPLE_4)">
      <span>EXAMPLE_4</span>
      <span class="material-icons mr-5">
        data_array
      </span>
    </button>
  </p>


  @if (graphsArray && graphsArray.length) {
    <span class="mb-5 d-block text-color-white">Local Saved Examples</span>
    <p class="d-flex flex-wrap">
      @for (graph of graphsArray; track graph; let idx = $index) {
        <span class="d-flex flex-row mr-10 mt-10">
            <button class="mat-ripple mat-warn" mat-raised-button mat-button
                      (click)="canvasService.importGraph(graph)">
              <span>Draw ex.{{idx+1}}</span>
              <span class="material-icons mr-5">
                data_array
              </span>
            </button>

            <button
              (click)="removeGraphFromLocalArray(idx)"
              class="mat-ripple mat-warn" mat-raised-button mat-button matTooltip="Delete example {{idx+1}}">
              <span class="material-icons mr-5">
                delete
              </span>
            </button>
        </span>
      }

    </p>
  }

  <span class="mb-5 d-block text-color-white">Algorithms</span>
  <div class="d-flex flex-column mt-10 mb-10">
    <mat-accordion [multi]="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Graph Visualizations
            <span class="material-icons ml-10 text-color-warning">
              diamond
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <app-force-directed-eades-spring-embedder></app-force-directed-eades-spring-embedder>
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Path Finders
            <span class="material-icons ml-10 text-color-warning">
              route
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          @if(canvasService.directionTypeControl.value === DirectionTypes.DIRECTED_GRAPH){
            <app-dijkstra></app-dijkstra>
          }@else {
            <div>
              <app-dfs-short-long-paths [algorithmBased]="'DFS'"></app-dfs-short-long-paths>
            </div>
          }
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Greedy Algorithms
            <span class="material-icons ml-10 text-color-warning">
              auto_graph
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <app-mst-kruskals-algorithm></app-mst-kruskals-algorithm>
          <app-mst-prims-algorithm></app-mst-prims-algorithm>
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Graph Traversal
            <span class="material-icons ml-10 text-color-warning">
              mediation
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <app-breadth-first-search></app-breadth-first-search>
          <app-depth-first-search></app-depth-first-search>
          <app-all-available-paths></app-all-available-paths>
<!--          <app-max-flow></app-max-flow>-->
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <span class="mb-5 d-block text-color-white">Tools</span>
  <div class="d-flex flex-column mt-10">
    <mat-accordion [multi]="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Import
            <span class="material-icons ml-10 text-color-warning">
              rocket_launch
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="mt-10">
          <mat-form-field class="example-form-field" style="width: 100%">
            <mat-label>Paste DUMP Here</mat-label>
            <textarea matInput rows="5" [formControl]="canvasService.inputDumpControl"></textarea>
          </mat-form-field>

          <button class="mat-ripple mat-warn" mat-raised-button mat-button (click)="canvasService.importGraph()">
            <span>Import</span>
          </button>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Copy/Show Graph JSON
            <span class="material-icons ml-10 text-color-warning">
              content_copy
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <button  class="mat-ripple mat-warn" mat-raised-button mat-button [cdkCopyToClipboard]="canvasService.graphJson | json">
            <span>COPY JSON</span>
          </button>
        <pre class="text-color-white" style="font-size: 10px;line-height: 11px">
{{ canvasService.graphJson | json }}
        </pre>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
