<mat-toolbar class="toolbar-container pb-10">
  <div class="container">
    <span class="app-title mr-9">
      _GRAPS
      <div class="version-info mt-10 pl-0 text-color-warning">
        <span class="text-sm text-muted-foreground underline decoration-dotted cursor-help">
          <i>v 1.0.0</i>
        </span>
      </div>
    </span>
    <button mat-icon-button class="example-icon favorite-icon text-color-warning" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container d-flex flex-row">
  <div class="board-container">
    <app-board></app-board>
  </div>
</div>
