<mat-toolbar class="mb-10">
  <div class="container">
    <span class="app-title mr-9">_GRAPS</span>
    <button mat-icon-button class="example-icon favorite-icon text-color-warning" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon text-color-dark" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container d-flex flex-row">

  <div class="board-container">
    <app-board></app-board>
  </div>

</div>
