.board-container{

}
.toolbar-container{
  background: #222222;
  position:sticky;
  top:0;
  z-index:10;
}
.app-title{
  letter-spacing: 2px;
  font-size: 25px;
  font-family: 'Ubuntu';
  position: relative;
}
.version-info{
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 8px;
}
