.path-container{
  margin-bottom: 5px;
}

.all-path-algorithm-single-path-active{
  transition: .3s;
  padding: 1px 5px;
  background: rgb(239 169 161) !important;
  color: white !important;
  cursor: pointer;
  border-radius: 3px;
}

.path-label{
  transition: .3s;
  padding: 1px 10px;
  background: rgb(0, 0, 0) !important;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.note-label{
  @extend .path-label;

  width: max-content;
  display: inline-block;
  margin-right: 5px;
}

.all-path-algorithm-single-path{
  transition: .3s;

  &:hover{
    @extend .all-path-algorithm-single-path-active
  }
}
